/* Write your CSS here */
.app-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  background-color: #ffffff;
  padding-top: 16px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 12px;
  width: 45%;
  max-width: 125px;
}
.img {
  height: 70px;
  width: 70px;
}
.paragraph {
  color: #1e293b;
  font-size: 16px;
  font-family: 'Bree Serif';
}
@media screen and (min-width: 768px) {
  .app-item {
    max-width: 175px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 24px;
  }
  .img {
    height: 100px;
    width: 100px;
  }
  .paragraph {
    font-size: 24px;
  }
}
